<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Lux Template</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5> Lux Template | You are logged in as: User</h5>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row spacer-20">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 hidden-sm hidden-xs">
                <div class="sidebar hidden-xs">
                    <form action="" method="post">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                        </div>
                    </form>
                    <ul class="nav navbar customNav">
                        <li>
                            <a href="" class="tree-toggler">Overview</a>
                        </li>
                        <li>
                            <a class="tree-toggler">Projects</a>
                            <ul class="tree nav" style="display:none;overflow: hidden;">
                                <li>
                                    <a href=""> Project 1</a>
                                </li>
                                <li>
                                    <a href=""> Project 2</a>
                                </li>
                                <li>
                                    <a href=""> Project 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="tree-toggler">History</a>
                            <ul class="tree nav" style="display:none;">
                                <li>
                                    <a href=""> Placeholder 1</a>
                                </li>
                                <li>
                                    <a href=""> Placeholder 2</a>
                                </li>
                                <li>
                                    <a href=""> Placeholder 3</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="">Logout</a>
                        </li>
                    </ul>
                    <div class="logo spacer-40">
                        <a href="http://www.lommix.de">
                            <img src="http://lommix.de/res/images/lommix_sig.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" style="overflow: hidden">
                        <h3>Project Title</h3>
                        <img src="http://placehold.it/200x200">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 text-justify spacer-80">
                        <p><b>Creation Date:</b><br> 23.09.1990</p>
                        <hr>

                        <p><b> Description:</b><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                            vero eos et accusam et justo duo dolores et ea rebum..</p>
                    </div>
                </div>
                <div class="row spacer-20">
                    <div class="col-md-10">
                        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            100%
                        </div>
                    </div>
                </div>
                <div class="row spacer-20">
                    <div class="col-md-2">
                        <p><b>Repository:</b></p>
                        <p><b>Demo:</b></p>
                    </div>
                    <div class="col-md-10">
                        <p><b>link</b></p>
                        <p><b>link</b></p>
                    </div>
                </div>

                <div class="row spacer-20">
                    <div class="col-lg-12">
                        <ul class="customsubnav">
                            <li><a class="detail-toggle" id="Updates">Updates</a></li>
                            <li><a class="detail-toggle" id="Task">Tasks</a></li>
                            <li><a class="detail-toggle" id="Bills">Bills</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row spacer-20">
                    <div class="col-lg-10">
                        <div class="table-responsive Updates detail-drop" style="display:block">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Contributor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                </tr>
                                <tr>
                                    <td>23/08/ 7:23am</td>
                                    <td>Added the update function</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td>23/08/ 7:29am</td>
                                    <td>cleaned the Project</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td>23/08/ 9:23am</td>
                                    <td>Fixed a routing issue</td>
                                    <td>admin</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
</body>
</html>