{% extends 'LuxBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5> Lux Template | You are logged in as: {{ user.username }}</h5>
                </div>
            </div>
        </div>
        <div class="row spacer-20">
            {% include 'LuxBundle:Frontend:menu.html.twig' %}
            {% if project %}
                {% include 'LuxBundle:Frontend:project.html.twig' %}
            {% else %}
                {% include 'LuxBundle:Frontend:overview.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
