<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 hidden-sm hidden-xs">
    <div class="sidebar hidden-xs">
        <form action="" method="post">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </form>
        <ul class="nav navbar customNav">
            <li>
                <a href="{{ path('lux_secureArea') }}" class="">Overview</a>
            </li>
            <li>
                <a class="tree-toggler">Projects</a>
                <ul class="tree nav" style="display:none;overflow: hidden;">
                    {% for project in user.projects %}
                        <li>
                            <a href="{{ path('lux_secureArea', {'projectID': project.id}) }}">Project: {{ project.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a class="tree-toggler">History</a>
                <ul class="tree nav" style="display:none;">
                </ul>
            </li>
            <li>
                <a href="{{ path('lux_logout') }}">Logout</a>
            </li>
        </ul>
        <div class="logo spacer-40">
            <a href="http://www.lommix.de">
                <img src="http://lommix.de/res/images/lommix_sig.svg">
            </a>
        </div>
    </div>
</div>
