<div class="col-md-6 col-sm-6 col-xs-6 text-justify">
    <h1>Overview!</h1>
    <p>Hello and Welcome to my reference project 'Lux', done in symfony2. The main goal of this application is to give customers a detailed overview over their ordered application and easy access to all application related files.</p>

    <p>Currently this Project is in it's very early state and there is not much to see. All Project Data is loaded from a Database and dynamic displayed on this website. There is no admin Backend yet. Every Project example i do, has to be fed into the database tables by hand.</p>
    <p></p>
</div>