<div class="col-md-9 col-sm-9 col-xs-9">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6" style="overflow: hidden">
            <h3>{{ project.name }}</h3>
            <img src="http://placehold.it/200x200">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 text-justify spacer-80">
            <p><b>Creation Date:</b><br> {{ project.getStartedOn|date("d/m/y") }}</p>
            <hr>

            <p><b> Description:</b><br> {{ project.description }}</p>
        </div>
    </div>
    <div class="row spacer-20">
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                     aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{ project.progress }}%">
                    {{ project.progress }}%
                </div>
            </div>
        </div>
    </div>
    <div class="row spacer-20">
        <div class="col-md-2">
            <p><b>Repository:</b></p>
            <p><b>Demo:</b></p>
        </div>
        <div class="col-md-10">
           <p> <a href="{{ project.repository }}">{{ project.repository }}</a></p>
           <p> <a href="{{ project.demo }}">{{ project.demo }}</a></p>
        </div>
    </div>

    <div class="row spacer-20">
        <div class="col-lg-12">
            <ul class="customsubnav">
                <li><a class="detail-toggle active" id="Updates">Updates</a></li>
                <li><a class="detail-toggle" id="Task">Tasks</a></li>
                <li><a class="detail-toggle" id="Bills">Bills</a></li>
            </ul>
        </div>
    </div>
    <div class="row spacer-20">
        <div class="col-lg-10">
            <div class="table-responsive Updates detail-drop" style="display:block">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Contributor</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    {% for update in project.updates %}
                        <tr>
                            <td>{{ update.date|date("d/m/ g:ia") }}</td>
                            <td>{{ update.description }}</td>
                            <td>{{ update.contributor }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive Task detail-drop" style="display:none">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Contributor</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    {% for task in project.tasks%}
                        <tr>
                            <td>{{ task.date|date("d/m/ g:ia") }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.contributor }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive Bills detail-drop" style="display:none">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Contributor</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    {% for bill in project.bills %}
                        <tr>
                            <td>{{ bill.date|date("d/m/ g:ia") }}</td>
                            <td>{{ bill.description }}</td>
                            <td><a href="{{ bill.link }}">PDF Download</a></td>
                            <td>{{ bill.contributor }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>