.spacer-10{
    margin-top: 10px;
}
.spacer-20{
    margin-top: 20px;
}

.spacer-40{
    margin-top: 40px;
}

.spacer-60{
    margin-top: 60px;
}

.spacer-80{
    margin-top: 80px;
}
body{
    font-family: "Open Sans", sans-serif !important ;
}
h5{
    font-family: "Open Sans", sans-serif;
    color: white;
}
p{
    font-family: "Open Sans", sans-serif;
    color: #5b5b5b;
    font-size: 12px;
}
a{
    color:black;
}
a:hover{
    text-decoration: none;
    color: #3a8cd1;
}

.sidebar{
    width: 250px;
    background-color:  #efefef;
    height: 100%;
    left: 0;
    top: 35px;
}
.header{
    background-color: #3B4151;
    width:100%;
    height: 35px;
}
.customsubnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }


.customsubnav > li{
    display: inline;
    margin:2px;
    float: left;


}

.customsubnav > li > a{
    background-color: #3B4151;
    padding:10px;
    letter-spacing: 1px;
    font-size: 12px;
    color:white;
}

.customsubnav > li > a:hover{
    background-color: #BEC1C8;
    color:black;
}

.customsubnav > li > a.active{
    background-color: #BEC1C8 !important;
    color:black !important;
}

.customNav > li > a{
    background-color: #3B4151;
    height: 35px;
    margin-top: 5px;
    width:100%;
    text-indent: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    color:white;
}
.customNav > li > ul{
    background-color: #BEC1C8;
}

.customNav > li > ul > li > a{
    height: 35px;
    width:100%;
    margin-top: 5px;
    text-indent: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    color:black;
}
.customNav > li > a:hover {

    background-color: #4f5565;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.logo{
    margin-left: 27px;
}

.login{
    padding: 10px;
    background-color: #BEC1C8;
}