{% extends 'LuxBundle:Default:base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row spacer-80">
            <div class=" col-md-2 col-md-offset-5 login">
                <h4>Lux Sign in</h4>
                {{ form_start(login) }}
                {{ form_widget(login.Email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                {{ form_widget(login.Password, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                <br>
                {{ form_widget(login.Login, { 'attr':{'class': 'btn btn-lg btn-default'}}) }}
                {{ form_end(login) }}
                <hr>
                <p>
                    alphabuild 0.2<br>
                    Demo-login:<br>
                    lux@lommix.de<br>
                    password: 123
                </p>
            </div>
        </div>


    </div>
{% endblock %}
