{% extends 'LuxBundle:Default:base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row spacer-80">
            <div class=" col-md-2 col-md-offset-5 login">
                <h4>Lux Sign in</h4>
                <form action="{{ path('lux_login_check') }}" method="post">
                    <input class="form-control" type="text" id="email" name="_username" placeholder="Email"/>
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Passowrd"/>
                    <button class="'btn btn-lg btn-default" type="submit">login</button>
                </form>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <hr>
                <p>
                    alphabuild 0.2<br>
                    Demo-login:<br>
                    lux@lommix.de<br>
                    password: 123
                </p>
            </div>
        </div>


    </div>
{% endblock %}
