{% extends 'LuxBundle:Default:base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form_start(register) }}
                <div>
                    {{ form_widget(register.Email) }}
                </div>
                <div>
                    {{ form_widget(register.Password) }}
                </div>
                <div>
                    {{ form_widget(register.Username) }}
                </div>
                <div>
                    {{ form_widget(register.Register) }}
                </div>
                {{ form_end(register) }}
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>
    </div>

{% endblock %}
